
//Import Bootstrap styles
@import "bootstrap/bootstrap.less";

//Import Site less files
@import "site/variables.less";		//Site specific variables
@import "site/layout.less"; 		//Basic layout/HTML5 stuff such as <article> and <section>
@import "site/typography.less";		//Typography settings
@import "site/nav.less";			//Nav styling	
@import "site/backgrounds.less";	//Background images and colors	
@import "site/responsive.less";		//Gouwestad Bootstrap Responsive customizations
@import "site/signup.less";			//Mailchimp signup formulier
@import "site/showcase.less";		//Responsive showcase
@import "site/animations.less";		//Animations

.background-size(@size){
	-webkit-background-size: (@size);
	-moz-background-size: (@size);
	background-size: (@size);
}
//Site specific story styles

html, body{
	height: 13000px;
}

body{
	overflow: scroll;
	background: #fefefe;
}

.loading{
	background: @brand-primary;
	z-index: 1000;
	position: fixed;
	i{
		-webkit-animation: lightup 1s ease-in-out infinite;
		-moz-animation: lightup 1s ease-in-out infinite;
		-ms-animation: lightup 1s ease-in-out infinite;
		-o-animation: lightup 1s ease-in-out infinite;
		animation: lightup 1s ease-in-out infinite;
		&.twee{
			-webkit-animation-delay: 0.25s;
			-moz-animation-delay: 0.25s;
			-ms-animation-delay: 0.25s;
			-o-animation-delay: 0.25s;
			animation-delay: 0.25s;
		}
		&.drie{
			-webkit-animation-delay: 0.5s;
			-moz-animation-delay: 0.5s;
			-ms-animation-delay: 0.5s;
			-o-animation-delay: 0.5s;
			animation-delay: 0.5s;
		}
		&.vier{
			-webkit-animation-delay: 0.75s;
			-moz-animation-delay: 0.75s;
			-ms-animation-delay: 0.75s;
			-o-animation-delay: 0.75s;
			animation-delay: 0.75s;
		}
	}
	&.loaded{
		top: -100%;
	}
}

@keyframes "lightup" {
 0% {
    color: rgba(0,0,0,0.3);
 }
 50% {
    color: rgba(0,0,0,0.6);
 }
 100% {
    color: rgba(0,0,0,0.3);
 }

}

@-moz-keyframes lightup {
 0% {
   color: rgba(0,0,0,0.3);
 }
 50% {
   color: rgba(0,0,0,0.6);
 }
 100% {
   color: rgba(0,0,0,0.3);
 }

}

@-webkit-keyframes "lightup" {
 0% {
   color: rgba(0,0,0,0.3);
 }
 50% {
   color: rgba(0,0,0,0.6);
 }
 100% {
   color: rgba(0,0,0,0.3);
 }

}

@-ms-keyframes "lightup" {
 0% {
   color: rgba(0,0,0,0.3);
 }
 50% {
   color: rgba(0,0,0,0.6);
 }
 100% {
   color: rgba(0,0,0,0.3);
 }

}

@-o-keyframes "lightup" {
 0% {
   color: rgba(0,0,0,0.3);
 }
 50% {
   color: rgba(0,0,0,0.6);
 }
 100% {
   color: rgba(0,0,0,0.3);
 }

}



.jumbotron{
	background: none;
}

.full-video{
	video{
	position: absolute;
	overflow: hidden;
	  min-width: 100%; 
	  min-height: 100%; 
	  height: auto;
	  width: auto;
	  right: 0;
	  bottom: 0;
	  .clearfix();
	}
}


header{
	background: url("../img/beach-top.jpg") no-repeat right bottom;
	.background-size(cover);
	color: #fff;
	z-index: 12;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	.overlay{
		background: @brand-primary;
		.opacity(0.6);
	}
	.container{
		height: 100%;
		position: relative;
	}
	.jumbotron{

	}
	img{
		max-width: 150px;

	}
	.jumbotron{
		h1{
			color: #fff;
			margin-top: 0;
			letter-spacing: -0.05em;
			text-transform: uppercase;
			font-size: 3.2em;
			font-weight: 400;
			strong{
				font-weight: 400;
			}
			span{
				letter-spacing: 0;
				font-size: 1.55em;
				font-weight: 300;
				text-transform: none;
			}
			small{
				color: #fff;
			}
		}
	}
	h6{
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	.btn{
		background: rgba(255,255,255,0.98);
		color: @brand-primary;
		position: relative;
		font-size: 0.8em;
		padding: 0.5em 0.8em;
		margin-top: 2em;
		border: none;
		border-radius: 0;
		padding-left: 4em;
		&:before{
			    border-right: 1px solid #fff;
			    content: "\F0A9";
			    position: absolute;
			    top: 0;
			    left: 0;
			    height: 100%;
			    width: 2em;
			    font-family: "FontAwesome";
			    font-size: 1.5em;
			    color: @brand-primary;
		}
	}
}

.coast{
	color: @gray-light;
	width: 100%;
	height: 100%;
	.container{
		position: relative;
		height: 100%;
	}
}

.intro{
	border-top: 1px solid #fff;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.02);
	height: 100%;
	overflow:hidden;
	z-index: 12;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.06);
	background: url("../img/beach-top-blur.jpg") no-repeat left top;
	.background-size(cover);
	.overlay{
		background: url("../img/surfboard-right-vert.png") no-repeat right bottom;
	}
	.container{
		position: relative;
		height: 100%;
	}
	h2, h3, h4{
		position: relative;
	}

	.btn{
		margin-top: 3em;
	}
	ul{
		list-style: none;
		li{
		}
	}
}

//Focus section
.focus{
	background: @brand-tertiary;
	height: 100%;
	width: 100%;
	color: #fff;
	.container{
		position: relative;
		height: 100%;
	}
	.jumbotron{
	}
		//blurred text
	.blur{
		font-size: 10em;
		color: transparent;
		text-shadow: 0 0 0.2em #fff;
		
	}
	h2, small, a{
		color: #fff;
		font-weight: 300;
	}
	img{
		max-width: 200px;
		border: 10px solid #fff;
		margin-left: 3em;
	}

}




//focus-content section
.focus-content{
	top:100%;
}

.focus{
	color: #fff;
	h1,h4{
		color: #fff;
	}
	.btn{
		background: #fff;
		color: @brand-tertiary;
		margin-top: 3em;
		position: relative;
		padding: 0.5em 0.8em;
		padding-left: 4em;
		&:before{
			    content: "\f01a";
			    position: absolute;
			    top: 0;
			    left: 0;
			    height: 100%;
			    width: 2em;
			    font-family: "FontAwesome";
			    font-size: 1.5em;
			    color: @brand-tertiary;
		}
	}
	.tablet-background{
		background: url("http://www.google.com/nexus/images/nexus-7-new/entertainment-1200.jpg") no-repeat;
		.background-size(contain);
		min-height: 24em;
	}
}



.flexslider, .flexslider-twee, .flex-viewport, .slides, .slides li{
	width: 100%;
	height: 100%;
}

.focus-blocks{
	background: url("../img/water-blur.jpg") no-repeat;
	.background-size(cover);
	padding-bottom: 0;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	.container{
		position: relative;
		height: 100%;
	}
	.text-box .col-8{
		padding: 2em;
		margin-top: 2em;
		margin-bottom: 2em;

	}
}

	//The slide
	.slides{
		color: #fff;
		h1{
			color: #fff;
			small{
				letter-spacing: -0.02em;
			}
			span{
				font-family: @font-family-script;
				font-size: 1.4em;
				font-weight: normal;
			}	
		}
	}
	.leads{
			position: relative;
			// background-images only on screens larger than tablet
			@media (min-width: @screen-tablet) {
				.meerleads{
					background: url("../img/leads/meerleadsempty.jpg") no-repeat;
				}
				.mailone{
					background: url("../img/leads/meerleadsemail1.png") no-repeat;
				}
				.mailtwo{
					background: url("../img/leads/meerleadsemail2.png") no-repeat;
				}
				.mailthree{
					background: url("../img/leads/meerleadsemail3.png") no-repeat;
				}
				.meerleads, .mailone, .mailtwo, .mailthree{
					background-position: bottom right;
					background-size: 70%
				}
				.mailthree{
					.opacity(0);
					.translate(0%,-5%);
				}
				.mailone, .mailtwo{
						.translate(0%,-10%);
					}
				// add the active slide animations
				&.flex-active-slide{
					.mailthree{
						.opacity(1);
						.translate(0%,0%);
						.transitiondelay(1.4s, 0.4s);
					}
					.mailone, .mailtwo{
						.translate(0%,0%);
						.transitiondelay(1s, 0.5s);
					}
					.mailtwo{
						.transitiondelay(1.2s, 0.5s);
					}
				}
			}
			
	}
	.bekijks{
		.wallpaper{
			background: url("../img/downloadsbg.jpg") center center no-repeat;
			height: 50%;
		}
		color: #fff;
	}
	// Volgers slide
	.volgers{
		position: relative;
		color: #fff;
		.phones{
		background: url("../img/meervolgers.png") no-repeat -40% 20%;
		.background-size(80%);
		.translate(0,20%);
		.transitiondelay(0.3s, 0.2s);
		}
		.overlay-img{
			background: url("../img/meervolgers-overlay.png") no-repeat -40% 20%;
			.background-size(80%);
			.opacity(0);
			z-index: 1;
		}
		.pop-up{
			background: url("../img/meervolgers-melding.png") no-repeat;
			background-position: -40% 50%;
			.background-size(80%);
			.translate(0,10%);
			.opacity(0);
			z-index: 1;
		}
		&.flex-active-slide{
			.phones{
				.translate(0,0);
			}
			.overlay-img{
				.opacity(1);
				.transitiondelay(0.9s, 0.1s)
			}
			.pop-up{
				.translate(0,0);
				.opacity(1);
				transition: 0.3s all 1s;
			}
		}
		.container{
			position: relative;
			z-index: 10;
		}
		h1 {
			color: #fff;
			img{
			max-width: 130px;
			display: inline !important;
			border: 8px solid #fff;
			box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
			}
		}
		i{
			color: #fff;
		}
	}

	.downloads {
		position: relative;
		background: url("../img/downloadsbg.jpg") no-repeat;
		.background-size(cover);
	}

	.verkopen {
		position: relative;
			// background-images only on screens larger than tablet
			@media (min-width: @screen-tablet) {
				.meerverkopen{
					background: url("../img/verkopen/meerverkopenempty.png") no-repeat;
				}
				.boxone{
					background: url("../img/verkopen/doos1.png") no-repeat;
				}
				.boxtwo{
					background: url("../img/verkopen/doos2.png") no-repeat;
				}
				.meerverkopen, .boxone, .boxtwo {
					background-position: center left;
					background-size: 50%;
				}
				.boxtwo{
					.opacity(0);
					.translate(0%,-20%);
				}
				.boxone {
						.translate(0%,-90%);
					}
				// add the active slide animations
				&.flex-active-slide{
					.boxtwo{
						.opacity(1);
						.translate(0%,0%);
						.transitiondelay(1.4s, 0.4s);
					}
					.boxone{
						.translate(0%,0%);
						.transitiondelay(1s, 0.5s);
					}
				}
			}

	}



// navigatie elementen bij de slider
.blocks{
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 100%;
	box-shadow: 0 0 3px rgba(0,0,0,0.05), inset 0 1px 2px rgba(255,255,255,0.85);
	background: #fff;
		padding: 0.5em 0;
	.row{

	}
	.col-6, .col-sm-4, .col-lg-2{
			padding-left: 0;
			padding-right: 0;
		}
		a {
			.transition(0.2s);
			.icon-stack{
				color: #fff;
				font-size: 1.3em;
				width: 30%;
				vertical-align: -25%;
				padding: 0em 0.2em;
				.icon-stack-base{
					color: @text-color;
				}
				&:hover{
					text-decoration: none;
				}
				i:hover{
					text-decoration: none;
				}
			}
			h6{
				small{
					font-weight: 300;
				}
				font-family: @font-family-base;
				color: @text-color;
				font-weight:300;
				width: 60%;
				margin: 0.2em 0 0.6em;
				font-size: 1.1em;
				line-height: 1.05em;
				padding-left: 10%;
				display: inline-block;
			}
			&:hover{
				background: #fff;
				.icon-stack-base, h6{	
					color: @brand-info;
				}
				i{
					.scale(1.05);
					.transition(0.2s);
				}
			}
		}
}

.design{
	background: url("../img/water.jpg") no-repeat right bottom;
	.background-size(cover);
	height: 100%;
	.story-width{
		max-width: 60%;
	}
	.container{
		position: relative;
	}
	h2{
		color: #fff;
	}
	img{
		max-width: 200px;
		border: 10px solid #fff;
		margin-top: -2em;
	}
	svg{
	height: auto;
	max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
	}
}

.design-story{
	position: absolute;
	height: 100%;
	width: 100%;
	.overlay{
		background: url("../img/ipad-big.png") no-repeat left bottom;
		.background-size(contain);
	}
	.container{
		position: relative;
		height: 100%;
	}
}

.fixed-center{
	position: relative;
	top: 3em;
	left: 0;
	text-align: center;
	width: 100%;
	.container{
		display: inline-block;
	}
}


// Resultaten page

.resultaten{
	height: 100%;
	padding-top: 10em;
	background: url("../img/wood.jpg");
}

.macbook{
	position: relative;
	width: 160%;
	text-align: center;
	margin-left: -30%;
	margin-right: -30%;
	margin-top: -3em;
	img{
		max-width: 100%;
	}
	@media (min-width: @screen-desktop) {
		position: absolute;
		right: -15%;
		top: 0;
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
		img{
			max-width: none;
		}
		svg{
			max-height: 100%;
			height: 100%;
		    left: 0;
		    position: absolute;
		    top: 0;
		    width: 2500px; //find a decent fix + add mobile styles
		}
	}
	@media (min-width: @screen-super-large-desktop) {
		right: -20%;
	}
}

//Svg on macbook stuff
.macbook{
		
	    img{
	    	max-height: 100%;
	    }
	}



.special{
	.graylighter();
}


.flexslider{
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	overflow: hidden;
}

.bottom {
	margin-bottom: -3em;
}

.hidden {
	opacity: (0);
}

.dark {
	background-color: @brand-primary;
}

.functies {
	font-weight: 300;
	font-size: 0,8em;
	h4 {
		font-weight: 400;
	}
}

.uitvouwen {
	background-color: @brand-tertiary;
	padding: 3em;
	margin-top: 3em;
	box-shadow: inset 0px 5px 4px -3px rgba(50, 50, 50, 0.5);
}

.quote {
	h2 {
	font-weight: 300;
	}
	a {
		font-weight: 600;
	}
	small {
		font-size: 0,5em;
	}
}

.flexslider{
	overflow: hidden;
}

.flex-direction-nav a{
    color: rgba(0,0,0,0.2);
    display: block;
    font-family: FontAwesome;
    font-size: 1.9em;
    font-weight: normal;
    height: 1.45em;
    left: 0;
    line-height: 1.7em;
    margin-top: -45px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 1em;
    z-index: 100;
    text-indent: 0;
    &:hover{
    	text-decoration: none;
    	color: rgba(0,0,0,0.4);
    }
    &:focus{
    	text-decoration: none;
    }
	&.flex-next{
		right: 0;
		left: auto;
	}
}

//Portfolio section styles
// animaties nog toevoegen aan animations.less bestand
.portfolio{
	figure{
		position: relative;
		overflow: hidden;
		margin: 2em 0;
		background: #ccc;
		img{
			-webkit-transition: -webkit-transform 0.4s;
			-webkit-transition: -webkit-transform 0.4s;
			-webkit-transition: -webkit-transform 0.4s;
			-webkit-transition: -webkit-transform 0.4s;
			transition: transform 0.4s;
		}
		figcaption{
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 0.3em 1em;
			border-top: 1px solid rgba(255,255,255,0.1);
			padding: 0.3em 1em;
			border-top: rgba(255,255,255,0.1);
			font-size: 80%;
			background: @brand-info;
			color: #fff;
			.translate(0,102%);
			box-shadow: 0 0 2px rgba(0,0,0,0.1);

			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			transition: transform 0.4s, opacity 0.1s 0.3s;
			h5{
				margin-bottom: 0;
			}
			span{
				font-style: italic;
			}
		}
		//hover styles
		&:hover{
			img{
				.translate(0,-2em);
			}
			figcaption{
				.translate(0,0);
				-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
				-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
				-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
				-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
				transition: transform 0.4s, opacity 0.1s;
			}
		}
	}
}


//animated styles... nog verplaatsen naar apart less bestand
.animated{
	height: 100%;
	.container{
		padding-top: 3em;
	}
}

.animated-title{
	height: 60%;
	position: relative;
	background: url("../img/water-leeg.jpg") repeat-y left top;
	-webkit-animation: wateranimation 80s linear infinite;
	-moz-animation: wateranimation 80s linear infinite;
	-ms-animation: wateranimation 80s linear infinite;
	-o-animation: wateranimation 80s linear infinite;
	animation: wateranimation 80s linear infinite;
	.background-size(cover);
	.board{
		background-position: 35% 110%;
		-webkit-animation: boardanimation 10s  ease-in-out infinite;
		-moz-animation: boardanimation  10s ease-in-out infinite;
		-ms-animation: boardanimation 10s ease-in-out infinite;
		-o-animation: boardanimation  10s ease-in-out infinite;
		animation: boardanimation  10s ease-in-out infinite;
	}
	.board-1{
		background: url("../img/boards/board-2.png") no-repeat;
		-webkit-animation-delay: 1.7s;
		-moz-animation-delay: 1.7s;
		-ms-animation-delay: 1.7s;
		-o-animation-delay: 1.7s;
		animation-delay: 1.7s;
		}
	.board-2{
		background: url("../img/boards/board-4.png") no-repeat;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-o-animation-delay: 0s;
		animation-delay: 0s;
	}
	.container{
		height: 100%;
	}
}

@keyframes "wateranimation" {
 0% {
    background-position: 0% 600%;
 }
 100% {
    background-position: 5% 0%;
 }

}

@-moz-keyframes wateranimation {
 0% {
   background-position: 0% 600%;
 }
 100% {
   background-position: 0% 0%;
 }

}

@-webkit-keyframes "wateranimation" {
 0% {
   background-position: 0% 600%;
 }
 100% {
   background-position: 0% 0%;
 }

}

@-ms-keyframes "wateranimation" {
 0% {
   background-position: 0% 600%;
 }
 100% {
   background-position: 0% 0%;
 }

}

@-o-keyframes "wateranimation" {
 0% {
   background-position: 0% 600%;
 }
 100% {
   background-position: 0% 0%;
 }

}


@keyframes "boardanimation" {
 0% {
    background-position: 35% 80%;
 }
 30% {
    background-position: 30% 40%;
 }
 60% {
    background-position: 40% 30%;
 }
 100% {
    background-position: 35% 80%;
 }

}

@-moz-keyframes boardanimation {
 0% {
   background-position: 35% 140%;
 }
 30% {
   background-position: 25% 180%;
 }
 60% {
   background-position: 45% 210%;
 }
 100% {
   background-position: 35% 140%;
 }

}

@-webkit-keyframes "boardanimation" {
  0% {
   background-position: 35% 130%;
 }
 30% {
   background-position: 25% 160%;
 }
 60% {
   background-position: 45% 190%;
 }
 100% {
   background-position: 35% 130%;
 }

}

@-ms-keyframes "boardanimation" {
 0% {
   background-position: 35% 80%;
 }
 30% {
   background-position: 30% 10%;
 }
 60% {
   background-position: 40% 30%;
 }
 100% {
   background-position: 35% 80%;
 }

}

@-o-keyframes "boardanimation" {
 0% {
   background-position: 35% 80%;
 }
 30% {
   background-position: 30% 10%;
 }
 60% {
   background-position: 40% 30%;
 }
 100% {
   background-position: 35% 80%;
 }

}



.responsive{
	padding-top: 6em;
	&.phones{
		background: url("../img/iphones.jpg") no-repeat center center;
		height: 100%;
	}
}

.end{
	background: url("../img/surfboard-right.png") no-repeat right center;
	height: 100%;
}
