
//Import Bootstrap styles
@import "bootstrap/bootstrap.less";

//Import Site less files
@import "site/variables.less";		//Site specific variables
@import "site/layout.less"; 		//Basic layout/HTML5 stuff such as <article> and <section>
@import "site/typography.less";		//Typography settings
@import "site/nav.less";			//Nav styling	
@import "site/backgrounds.less";	//Background images and colors	
@import "site/responsive.less";		//Gouwestad Bootstrap Responsive customizations


//Site specific story styles


.jumbotron{
	background: none;
}

.special{
	.graylighter();
}

.showcase{
	overflow: hidden;
}

.flexslider{
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}