
//Import Bootstrap styles
@import "bootstrap/bootstrap.less";

//Import Site less files
@import "site/variables.less";		//Site specific variables
@import "site/layout.less"; 		//Basic layout/HTML5 stuff such as <article> and <section>
@import "site/typography.less";		//Typography settings
@import "site/nav.less";			//Nav styling	
@import "site/backgrounds.less";	//Background images and colors	
@import "site/responsive.less";		//Gouwestad Bootstrap Responsive customizations
@import "site/signup.less";			//Mailchimp signup formulier
@import "site/showcase.less";		//Responsive showcase
@import "site/animations.less";		//Animations


//Site specific story styles

html, body{
	height: 13000px;
}

body{
	overflow: scroll;
	background: #fefefe;
}

.loading{
	background: @brand-primary;
	z-index: 1000;
	position: fixed;
	i{
		-webkit-animation: lightup 1s ease-in-out infinite;
		-moz-animation: lightup 1s ease-in-out infinite;
		-ms-animation: lightup 1s ease-in-out infinite;
		-o-animation: lightup 1s ease-in-out infinite;
		animation: lightup 1s ease-in-out infinite;
		&.twee{
			-webkit-animation-delay: 0.25s;
			-moz-animation-delay: 0.25s;
			-ms-animation-delay: 0.25s;
			-o-animation-delay: 0.25s;
			animation-delay: 0.25s;
		}
		&.drie{
			-webkit-animation-delay: 0.5s;
			-moz-animation-delay: 0.5s;
			-ms-animation-delay: 0.5s;
			-o-animation-delay: 0.5s;
			animation-delay: 0.5s;
		}
		&.vier{
			-webkit-animation-delay: 0.75s;
			-moz-animation-delay: 0.75s;
			-ms-animation-delay: 0.75s;
			-o-animation-delay: 0.75s;
			animation-delay: 0.75s;
		}
	}
	&.loaded{
		top: -100%;
	}
}

@keyframes "lightup" {
 0% {
    color: rgba(0,0,0,0.3);
 }
 50% {
    color: rgba(0,0,0,0.6);
 }
 100% {
    color: rgba(0,0,0,0.3);
 }

}

@-moz-keyframes lightup {
 0% {
   color: rgba(0,0,0,0.3);
 }
 50% {
   color: rgba(0,0,0,0.6);
 }
 100% {
   color: rgba(0,0,0,0.3);
 }

}

@-webkit-keyframes "lightup" {
 0% {
   color: rgba(0,0,0,0.3);
 }
 50% {
   color: rgba(0,0,0,0.6);
 }
 100% {
   color: rgba(0,0,0,0.3);
 }

}

@-ms-keyframes "lightup" {
 0% {
   color: rgba(0,0,0,0.3);
 }
 50% {
   color: rgba(0,0,0,0.6);
 }
 100% {
   color: rgba(0,0,0,0.3);
 }

}

@-o-keyframes "lightup" {
 0% {
   color: rgba(0,0,0,0.3);
 }
 50% {
   color: rgba(0,0,0,0.6);
 }
 100% {
   color: rgba(0,0,0,0.3);
 }

}



.jumbotron{
	background: none;
}

.full-video{
	video{
	position: absolute;
	overflow: hidden;
	  min-width: 100%; 
	  min-height: 100%; 
	  height: auto;
	  width: auto;
	  right: 0;
	  bottom: 0;
	  .clearfix();
	}
}


header{
	background: url("../img/beach.jpg") no-repeat;
	.background-size(cover);
	color: #fff;
	z-index: 12;
	position: fixed;
	height: 150%;
	top: 0;
	left: 0;
	width: 100%;
	.container{
		height: 100%;
		position: relative;
	}
	.jumbotron{

	}
	img{
		max-width: 150px;

	}
	h1{
		color: #fff;
		margin-top: 0;
		strong{
			font-weight: 400;
		}
		small{
			color: #fff;
		}
	}
	h6{
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	.btn{
		position: relative;
		font-size: 0.8em;
		padding: 0.5em 0.8em;
		margin-top: 2em;
		border: none;
		border-radius: 0;
		padding-left: 4em;
		&:before{
			    background: #fff;
			    content: "\F0A9";
			    position: absolute;
			    top: 0;
			    left: 0;
			    height: 100%;
			    width: 2em;
			    font-family: "FontAwesome";
			    font-size: 1.5em;
			    color: @brand-primary;
		}
	}
}

.coast{
	background: @brand-quaternary;
	color: #fff;
	width: 100%;
	height: 100%;
	.container{
		position: relative;
		height: 100%;
	}
}

.intro{
	border-top: 1px solid #fff;
	background: #fff url("../img/macbook-cut.png") no-repeat right 0;
	height: 100%;
	overflow:hidden;
	z-index: 12;
	.container{
		position: relative;
		height: 100%;
	}
	h2, h3, h4{
		position: relative;
	}

	.btn{
		margin-top: 3em;
	}
	ul{
		list-style: none;
		li{
		}
	}
}

//Focus section
.focus{
	background: @brand-primary;
	height: 100%;
	width: 100%;
	.container{
		position: relative;
		height: 100%;
	}
	.jumbotron{
	}
		//blurred text
	.blur{
		font-size: 10em;
		color: transparent;
		text-shadow: 0 0 0.2em #fff;
		
	}
	h2, small, a{
		color: #fff;
		font-weight: 300;
	}
	img{
		max-width: 200px;
		border: 10px solid #fff;
		margin-left: 3em;
	}

}

//focus-content section
.focus-content{
	top:100%;
}

.flexslider, .flexslider-twee, .flex-viewport, .slides, .slides li{
	width: 100%;
	height: 100%;
}

.focus-blocks{
	padding-bottom: 0;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	.container{
		position: relative;
		height: 100%;
	}
	.text-box .col-8{
		padding: 2em;
		margin-top: 2em;
		margin-bottom: 2em;

	}
}

	//The slides
	.slides{
		h1{
			color: @text-color;
			small{
				letter-spacing: -0.02em;
			}
			span{
				font-family: @font-family-script;
				color: @brand-info;
				font-size: 1.4em;
				font-weight: normal;
			}	
		}
	}
	.leads{
			position: relative;
			background: url("../img/gmail.png") no-repeat;
			.background-size(cover);
			.apple-menu {
				display: inline-block;
				background-color: #e8e8e8;
				width: 100%;
				color: #000;
				font-size: 0.7em;
				padding-left: 3em;
			}
	}
	.bekijks{
		position: relative;
		.background-size(cover);
		.transitiondelay(0.5s, 0.8s);
		.overlay{
			.background-size(cover);
			.opacity(0);
			.transitiondelay(0.5s, 0.8s);
		}
		&.flex-active-slide{
			.overlay{
				.opacity(1);
			}

		}
		color: #fff;
	}
	// Volgers slide
	.volgers{
		position: relative;
		background: url("../img/blur.jpg") no-repeat;
		.background-size(cover);
		color: #fff;
		text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
		.phones{
		background: url("../img/meervolgers.png") no-repeat -40% 20%;
		.background-size(80%);
		.translate(0,20%);
		.transitiondelay(0.3s, 0.2s);
		}
		.overlay-img{
			background: url("../img/meervolgers-overlay.png") no-repeat -40% 20%;
			.background-size(80%);
			.opacity(0);
			z-index: 1;
		}
		.pop-up{
			background: url("../img/meervolgers-melding.png") no-repeat;
			background-position: -40% 50%;
			.background-size(80%);
			.translate(0,10%);
			.opacity(0);
			z-index: 1;
		}
		&.flex-active-slide{
			.phones{
				.translate(0,0);
			}
			.overlay-img{
				.opacity(1);
				.transitiondelay(0.9s, 0.1s)
			}
			.pop-up{
				.translate(0,0);
				.opacity(1);
				transition: 0.3s all 1s;
			}
		}
		.container{
			position: relative;
			z-index: 10;
		}
		h1 {
			color: #fff;
			img{
			max-width: 130px;
			display: inline !important;
			border: 8px solid #fff;
			box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
			}
		}
		i{
			color: #fff;
		}
	}

	.downloads {
		position: relative;
		background: url("../img/downloadsbg.jpg") no-repeat;
		.background-size(cover);
	}



// navigatie elementen bij de slider
.blocks{
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 100%;
	background: @gray-lighter;
	box-shadow: 0 0 3px rgba(0,0,0,0.05), inset 0 1px 2px rgba(255,255,255,0.85);
	.col-6, .col-sm-4, .col-lg-2{
			padding-left: 0;
			padding-right: 0;
		}
		a .well{
			background: none;
			border: none;
			border-right: 1px solid rgba(0,0,0,0.05);
			border-left: 1px solid rgba(255,255,255,0.6);
			border-radius: 0;
			margin-bottom: 0;
			padding: 0.8em 1em;
			.transition(0.2s);
			.icon-stack{
				color: #fff;
				font-size: 1.3em;
				width: 30%;
				vertical-align: -25%;
				padding: 0em 0.2em;
				.icon-stack-base{
					color: @text-color;
				}
				&:hover{
					text-decoration: none;
				}
				i:hover{
					text-decoration: none;
				}
			}
			h6{
				small{
					font-weight: 300;
				}
				font-family: @font-family-base;
				color: @text-color;
				font-weight:300;
				width: 60%;
				margin: 0.2em 0 0.6em;
				font-size: 1.1em;
				line-height: 1.05em;
				padding-left: 10%;
				display: inline-block;
			}
			&:hover{
				background: #fff;
				.icon-stack-base, h6{	
					color: @brand-info;
				}
				i{
					.scale(1.05);
					.transition(0.2s);
				}
			}
		}
}

.design{
	height: 100%;
	.story-width{
		max-width: 60%;
	}
	.move{
		position: relative;
	}
	h2{
		color: #fff;
	}
	img{
		max-width: 200px;
		border: 10px solid #fff;
		margin-top: -2em;
	}
	svg{
	height: auto;
	max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
	}
}

.design-story{
}

.fixed-center{
	position: relative;
	top: 3em;
	left: 0;
	text-align: center;
	width: 100%;
	.container{
		display: inline-block;
	}
}


.analytics{
		svg{
		 height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	}
}

.resultaten{
	.graydark();

}
.macbook{
	position: relative;
}

.special{
	.graylighter();
}

.showcase{
	overflow: hidden;
}

.flexslider{
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	overflow: hidden;
}

.bottom {
	margin-bottom: -3em;
}

.hidden {
	opacity: (0);
}

.dark {
	background-color: @brand-primary;
}

.functies {
	font-weight: 300;
	font-size: 0,8em;
	h4 {
		font-weight: 400;
	}
}

.uitvouwen {
	background-color: @brand-tertiary;
	padding: 3em;
	margin-top: 3em;
	box-shadow: inset 0px 5px 4px -3px rgba(50, 50, 50, 0.5);
}

.quote {
	h2 {
	font-weight: 300;
	}
	a {
		font-weight: 600;
	}
	small {
		font-size: 0,5em;
	}
}

.flexslider{
	overflow: hidden;
}

.flex-direction-nav a{
    color: rgba(0,0,0,0.2);
    display: block;
    font-family: FontAwesome;
    font-size: 1.9em;
    font-weight: normal;
    height: 1.45em;
    left: 0;
    line-height: 1.7em;
    margin-top: -45px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 1em;
    z-index: 100;
    text-indent: 0;
    &:hover{
    	text-decoration: none;
    	color: rgba(0,0,0,0.4);
    }
    &:focus{
    	text-decoration: none;
    }
	&.flex-next{
		right: 0;
		left: auto;
	}
}

//Portfolio section styles
// animaties nog toevoegen aan animations.less bestand
.portfolio{
	figure{
		position: relative;
		overflow: hidden;
		margin: 2em 0;
		background: #ccc;
		img{
			-webkit-transition: -webkit-transform 0.4s;
			-webkit-transition: -webkit-transform 0.4s;
			-webkit-transition: -webkit-transform 0.4s;
			-webkit-transition: -webkit-transform 0.4s;
			transition: transform 0.4s;
		}
		figcaption{
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 0.3em 1em;
			border-top: 1px solid rgba(255,255,255,0.1);
			padding: 0.3em 1em;
			border-top: rgba(255,255,255,0.1);
			font-size: 80%;
			background: @brand-info;
			color: #fff;
			.translate(0,102%);
			box-shadow: 0 0 2px rgba(0,0,0,0.1);

			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			transition: transform 0.4s, opacity 0.1s 0.3s;
			h5{
				margin-bottom: 0;
			}
			span{
				font-style: italic;
			}
		}
		//hover styles
		&:hover{
			img{
				.translate(0,-2em);
			}
			figcaption{
				.translate(0,0);
				-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
				-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
				-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
				-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
				transition: transform 0.4s, opacity 0.1s;
			}
		}
	}
}

