---
layout:         default
title:          Homepage
tagline:        Of this awesome website
description:    Wow this really is an awesome website
keywords:       Awesome, website, keywords
---

    <header data-400="top:0%;" data-1000="top:-100%">
        <video id="example_video_1" class="full-video visible-lg" 
            poster="http://video-js.zencoder.com/oceans-clip.png"
            data-setup='{"autoplay": true, "controls": false, "loop": true}'>
              <source src="http://gouwestad.com/lex/basis/_site/img/coast.mp4" type='video/mp4' />
              <source src="http://gouwestad.com/lex/basis/_site/img/coast.webm" type='video/webm' />
              <source src="http://gouwestad.com/lex/basis/_site/img/coast.ogv" type='video/ogg' />
        </video>
        <div class="row">
            <div class="col-12 text-center">
                <div class="jumbotron" data-200="opacity: 1; margin-top: 0%;" data-800="opacity: 0; margin-top: -20%;">
                    <img src="{{ site.url }}/img/logo-notext.png">
                    <h1>A new online <strong>Exposure</strong></h1>
                    <h5>websites die verkopen</h5>
                    <p><a href="#intro" data-menu-top="1800" class="btn btn-primary btn-large">een nieuwe manier om je online te presenteren</a></p>
                </div>
            </div>
        </div>
    </header>

  <section class="coast" data-1800="top:0%;" data-1801="top:-100%">
        <div class="container">
            <div class="vert-center">
                <div class="row story-width">
                    <div class="col-6 col-offset-3 text-center">
                        <img src="{{site.url}}/img/logo.png">
                    </div>
                    <div class="col-12 text-center">
                        <h3>Custom Online Animated Story Telling</h3>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <section class="intro" id="intro" data-1000="top:100%;" data-1200="background-position: 120% 0;" data-1800="top: 0%;" data-1900="background-position: 100% 0;" data-2100="opacity:1;" data-2600="opacity:0; top:0%; background-position: 120% 0;" data-2602="top:-100%;" >
        <div class="container">
            <div class="vert-center">
                <div class="row text-center">
                    <div class="col-12 col-sm-8">
                        <h4><small>Het gaat niet om de grootte van je <strong>Adwords</strong> budget...</small><br></h4>
                    </div>
                    <div class="col-12 col-sm-8">
                         <h4>Het gaat om je <em>idee</em> en hoe goed je het presenteert.</h4>
                    </div>
                    <div class="col-12 col-sm-8">
                        <p>Coast websites zijn de nieuwe standaard op webgebied. Volwaardige online campagnes, die bezoekers enthousiasmeren en tot actie over laten gaan.
                            De eigenschappen?</p>
                          <p>Coast websites zijn <a href"#focus">gefocust</a>, met de hand <a href="#design">ontworpen</a>, ontwikkeld met de allerlaatste <a href="#techniek">webtechnieken</a> en ook nog eens <a href="#betaalbaar">betaalbaar</a>.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="#focus" data-menu-top="2600"><i class="icon-arrow-down"></i> scroll verder en lees hoe gefocust Coast is</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include focus.html %}

    {% include design.html %}

    {% include showcase.html %}

    




