    <section>
        <div class="container">
            <div class="row functies">
                <div class="col-4">
                    <i class="icon-bar-chart icon-super"></i>
                    <h4>Meten is <strong>weten</strong></h4>
                    <p>Standaard worden alle website uitgerust met Google Analytics. Om onze klanten op weg te helpen meten wij gedurende de eerste 30-dagen het bezoekersgedrag en rapporteren verbeterpunten.</p>
                    <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#statistieken">Lees verder <i class="icon-collapse-alt"></i></button>
                </div>
                <div class="col-4">
                    <i class="icon-mail icon-super"></i>
                    <h4>Nieuwsbrieven</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices dolor et lectus auctor accumsan. Curabitur purus nisl, vehicula vel tincidunt quis, viverra sed mauris. Nam at risus egestas, feugiat metus at, laoreet elit. Integer</p>
                    <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#nieuwsbrieven">Lees verder <i class="icon-collapse-alt"></i></button>
                </div>
                <div class="col-4">
                    <i class="icon-thumbs-up-alt icon-super"></i>
                    <h4>Krijg meer <strong>volgers</strong></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices dolor et lectus auctor accumsan. Curabitur purus nisl, vehicula vel tincidunt quis, viverra sed mauris. Nam at risus egestas, feugiat metus at, laoreet elit. Integer</p>
                    <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#socialdashboard">Lees verder <i class="icon-collapse-alt"></i></button>
                </div> 
            </div>
        </div>

        <div id="statistieken" class="collapse out">
            <div class="uitvouwen">
                <div class="row analytics">
                    <div class="col-12 col-sm-4">
                        <img src="img/desktop.png">
                        <h3>Sociale bronnen</h3>
                        <p>Het inzetten van sociale bronnen is inmiddels 'gewoon', maar heeft dit resultaat op de website? </p>
                    </div>
                    <div class="col-12 col-sm-4">
                        <img src="img/desktop.png">
                        <h3>In-page analyseren</h3>
                        <p>I.c.m. de A/B-tests een handige tool om te kijken wat het klikgedrag van het bezoek op de website is. </p>
                   </div>
                    <div class="col-12 col-sm-4">
                        <img src="img/desktop.png">
                        <h3>Mobiele beleving</h3>
                        <p>Er zijn huishoudens zonder computer met alleen maar mobiele devices. Hoe gaat jullie website hiermee om?</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="nieuwsbrieven" class="collapse out">
            <div class="uitvouwen">
                <div class="container">
                    <div class="row analtyics">
                        <div class="col-12 text-center">
                            <h3>Nieuwsbriefmodule</h3>
                            <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices dolor et lectus auctor accumsan. Curabitur purus nisl, vehicula vel tincidunt quis, viverra sed mauris. Nam at risus egestas, feugiat metus at, laoreet elit. Integer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="socialdashboard" class="collapse out">
            <div class="uitvouwen">
                <div class="container">
                    <div class="row analtyics">
                        <div class="col-12 text-center">
                            <h3>Laat klanten betalen met een <strong>tweet of een post.</strong></h3>

                            <p class="intro">Soms is media exposure meer waard dan direct cold hard cash. Laat klanten en geinteresseerden betalen voor kleine dingen met een tweet, een facebookpost of een post op LinkedIn. Een sociaal betaalsysteem waarbij de klant betaald met de waarde van zijn of haar sociale netwerk.</p>
                            <a href="https://www.paywithatweet.com/pay/?id=ac30362e182b7b22a983dcd1fa56fd57"><button type="button" class="btn btn-large">Betalen</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <section class="signup special">
        <div class="container">
            <div class="row">
                <div class="col12 text-center">
                    <i class="icon-inbox icon-super"></i>
                    <h2>Keep me <strong>posted</strong></h2>
                    <p class="intro">Op de hoogte blijven van updates en ontwikkelingen? Schrijf u dan nu in voor onze nieuwsbrief</p>
                    <button class="btn btn-large btn-animated" id="btn-mc"><i class="icon-mail"></i> <span>Ja ik wil up to date worden gehouden</span></button>
                </div>
            </div>
            <div class="mc-page mc-page-2">
                <div class="row">
                    <div class="col-12">
                        <form class="form-horizontal" action="http://gouwestad.us1.list-manage.com/subscribe/post" method="post">
                            <input type="hidden" name="u" value="12356aa89b280225cc4c74fbb">
                            <input type="hidden" name="id" value="02695a6847">
                            <div class"row">
                                <div class="col-12">
                                    <a href="#" class="nav-btn-side" id="btn-mc-close">
                                    <i class="icon-remove-sign"></i>
                                    </a>
                                    <h2>Write me <strong>someday</strong></h2>
                                </div>
                            </div>
                            <div class="row">
                                <label for="MERG0" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" id="MERGE0" name="MERGE0" class="input-75" placeholder="Email">
                                </div>
                            </div>
                            <div class="row">
                                <label for="MERGE1" class="col-sm-3 control-label">Voornaam</label>
                                <div class="col-sm-9">
                                    <input type="text" id="MERGE1" name="MERGE1" class="input-75" placeholder="Voornaam">
                                </div>
                            </div>
                            <div class="row">
                                <label for="MERGE2" class="col-sm-3 control-label">Achternaam</label>
                                <div class="col-sm-9">
                                    <input type="text" id="MERGE1" name="MERGE2" class="input-75" placeholder="Achternaam">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                  <button type="submit" class="btn btn-large btn-signup" >Schrijf me in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
                <div class="col-12 text-center">
                    <h1>Socialize with us</h1>
                    <ul class="btn-social">
                        <li><a href="www.facebook.com"><i class="icon-facebook"></i></a></li>
                        <li><a href="www.facebook.com"><i class="icon-twitter"></i></a></li>
                        <li><a href="www.facebook.com"><i class="icon-linkedin"></i></a></li>
                        <li><a href="www.facebook.com"><i class="icon-envelope-alt"></i></a></li>
                    </ul>
                </div>
        </div>
    </section>


