<section class="focus" id="focus" data-2000="top:100%;" data-2002="top:0%;" data-3200="top: 0%;" data-3800="top: -100%">
        <div class="container">
            <div class="vert-center">
                <div class="row story-width">
                    <div class="col-12 text-center">
                        <div class="jumbotron">
                            <h1 class="blur" data-2400="color:transparent; text-shadow: 0 0 75px #fff" data-3000="color:#fff; text-shadow: 0 0 0px #fff;">Focus</h1>
                            <h2 data-2400="opacity:0; transform: translate(0,90px);" data-3000="opacity:1; transform: translate(0,0);">"The trick isn't adding stuff. It's taking away."</h2>
                              <small data-2400="opacity:0; transform: translate(0,90px)" data-3000="opacity:1; transform: translate(0,0px)"><i class="icon-comment-alt"></i> Mark Zuckerberg</small>
                              <img src="{{ site.url }}/img/facebook.jpg" class="img-circle" data-2400="transform[bounce]: scale(0); opacity:0" data-3000="transform: scale(1); opacity: 1;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="focus-content">
        <div class="container">
            <div class="row story-width">
                <div class="col-12 text-center">
                    <p><strong>Wat wil jij met je website bereiken? Denk je daar wel eens over na?</strong><br>
                    Websites zijn tegenwoordig voor heel veel bedrijven het belangrijkste communicatiemiddel, maar gek genoeg ook het middel waar het minste aandacht voor is. Vreemd, want het eerste wat mensen zullen doen als ze van je product horen is het Googelen... En? Worden ze enthousiast wanneer ze op je website komen?  Of gaat die website eigenlijk helemaal niet over het product? Een gemiste kans.
                    Coast is gefocust op resultaat. Dat betekent dat het product het middelpunt is en alles aan het ontwerp gericht is op conversie. Dus geen onnodige informatie (echt, het helpt je niet in Google), geen nieuwsberichten (wie leest die in godsnaam?), maar het verhaal waar de bezoeker naar op zoek is.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="focus-blocks"  data-3200="top: 100%;" data-3800="top: 0%" data-4000="top: 0%;" data-4400="top:-100%;">
        <div class="flexslider" id="voordelen">
            <ul class="slides">
                <li class="bekijks active-slide" id="bekijks">
                    <div class="overlay">
                    </div>
                    <div class="container">
                        <div class="vert-center">
                            <div class="row text-center text-box">
                                <div class="col-6 col-offset-6">
                                    <h1>Meer bekijks</h1>
                                    <img src="{{ site.url }}/img/temp.png" class="visible-sm">
                                   <p>Good design is memorable and sharable. Potential customers will share your unique site with their friends and colleagues, resulting in more traffic for you.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="leads">
                    <div class="container">
                        <div class="vert-center">
                            <div class="row text-center text-box">
                                <div class="col-4 col-offset-8">
                                    <h1><small>meer</small> <span>leads</span></h1>
                                    <img src="{{ site.url }}/img/temp.png" class="visible-sm">
                                   <p>People don’t just hand over their information to anyone. A reputable site, a delightful submission process and a compelling visual narrative will drive more leads for you.
                                   </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="downloads">
                    <div class="container">
                        <div class="vert-center">
                            <div class="row text-center text-box">
                                <div class="col-6 col-offset-6">
                                    <h1>Meer Downloads</h1>
                                    <img src="{{ site.url }}/img/temp.png" class="visible-sm">
                                   <p>Good design is memorable and sharable. Potential customers will share your unique site with their friends and colleagues, resulting in more traffic for you.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="volgers">
                    <div class="phones overlay"></div>
                    <div class="overlay overlay-img"></div>
                    <div class="overlay pop-up"></div>
                    <div class="container">
                        <div class="vert-center">
                            <div class="row text-center text-box">
                                <div class="col-5 col-offset-6">
                                    <div class="page-header">
                                        <h1><img class="img-circle" src="http://progroep.github.io/Sharebiz/img/hans-ouwerkerk.jpg"> <small>meer</small> <span>volgers</span></h1>
                                    </div>
                                    <img src="{{ site.url }}/img/temp.png" class="visible-sm">
                                   <p class="lead">Good design is memorable and sharable. Potential customers will share your unique site with their friends and colleagues, resulting in more traffic for you.</p>
                                   <p>Good design is memorable and sharable. Potential customers will share your unique site with their friends and colleagues, resulting in more traffic for you.</p>
                                   <h5>
                                       <span class="icon-stack">
                                          <i class="icon-check-empty icon-stack-base"></i>
                                          <i class="icon-facebook"></i>
                                        </span>
                                        <span class="icon-stack">
                                          <i class="icon-check-empty icon-stack-base"></i>
                                          <i class="icon-twitter"></i>
                                        </span>
                                        <span class="icon-stack">
                                          <i class="icon-check-empty icon-stack-base"></i>
                                          <i class="icon-google-plus"></i>
                                        </span>
                                        <span class="icon-stack">
                                          <i class="icon-check-empty icon-stack-base"></i>
                                          <i class="icon-instagram"></i>
                                        </span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="blocks" class="hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-4 col-lg-2">
                    <a class="slide_thumb" rel="0" href="#">
                        <div class="well" data-3400="opacity:0; transform[swing]: scale(1.5) translate(-50px, 0);" data-3600="opacity:1; transform: scale(1) translate(0, 0);">
                            <span class="icon-stack">
                              <i class="icon-circle icon-stack-base"></i>
                              <i class="icon-thumbs-up"></i>
                            </span>
                            <h6><small>meer</small><br> leads</h6>
                        </div>
                    </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <a class="slide_thumb" rel="1" href="#">
                            <div class="well" data-3450="opacity:0; transform[swing]: scale(1.5) translate(-50px, 0);" data-3650="opacity:1; transform: scale(1) translate(0, 0);">
                                <span class="icon-stack">
                                  <i class="icon-circle icon-stack-base"></i>
                                  <i class="icon-shopping-cart"></i>
                                </span>
                                <h6><small>meer</small><br> verkopen</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <a class="slide_thumb" rel="2" href="#">
                            <div class="well" data-3500="opacity:0; transform[swing]: scale(1.5) translate(-50px, 0);" data-3700="opacity:1; transform: scale(1) translate(0, 0);">
                                <span class="icon-stack">
                                  <i class="icon-circle icon-stack-base"></i>
                                  <i class="icon-facebook"></i>
                                </span>
                                <h6><small>meer</small><br> volgers</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <a class="slide_thumb" rel="3" href="#">
                          <div class="well"  data-3550="opacity:0; transform[swing]: scale(1.5) translate(-50px, 0);" data-3750="opacity:1; transform: scale(1) translate(0, 0);">
                                <span class="icon-stack">
                                  <i class="icon-circle icon-stack-base"></i>
                                  <i class="icon-eye-open"></i>
                                </span>
                                <h6><small>meer</small><br> bekijks</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <a class="slide_thumb" rel="4" href="#">
                            <div class="well"  data-3600="opacity:0; transform[swing]: scale(1.5) translate(-50px, 0);" data-3770="opacity:1; transform: scale(1) translate(0, 0);">
                                <span class="icon-stack">
                                  <i class="icon-circle icon-stack-base"></i>
                                  <i class="icon-cloud-download"></i>
                                </span>
                                <h6><small>meer</small><br> downloads</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <a class="slide_thumb" rel="5" href="#">
                           <div class="well"  data-3650="opacity:0; transform[swing]: scale(1.5) translate(-50px, 0);" data-3800="opacity:1; transform: scale(1) translate(0, 0);">
                                <span class="icon-stack">
                                  <i class="icon-circle icon-stack-base"></i>
                                  <i class="icon-edit"></i>
                                </span>
                                <h6><small>meer</small><br> signups</h6>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>