<section class="focus" id="focus" data-2000="top:100%;" data-2002="top:0%;" data-3200="top: 0%;" data-3800="top: -100%">
        <div class="container">
            <div class="vert-center">
                <div class="row story-width">
                    <div class="col-12 text-center">
                        <div class="jumbotron">
                            <h1 class="blur" data-2400="color:transparent; text-shadow: 0 0 75px #fff" data-3000="color:#fff; text-shadow: 0 0 0px #fff;">Focus</h1>
                            <h2 data-2400="opacity:0; transform: translate(0,90px);" data-3000="opacity:1; transform: translate(0,0);">"The trick isn't adding stuff. It's taking away."</h2>
                              <small data-2400="opacity:0; transform: translate(0,90px)" data-3000="opacity:1; transform: translate(0,0px)"><i class="icon-comment-alt"></i> Mark Zuckerberg <a href="www.facebook.com">Facebook CEO</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="focus-content" data-3200="top: 100%;" data-3800="top: 0%" data-4600="top:-100%">
        <div class="container">
            <div class="row story-width">
                <div class="col-12 text-center">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-1">
                    <p>Mensen komen niet op je website om eindeloos randinformatie te lezen. Ze willen iets weten over je bedrijf, product of dienst. Smartsites zijn gefocust, to the point en vooral gericht op resultaat.</p>
                </div>
            </div>
        </div>
    </section>
    <!--<section class="focus-blocks" data-3200="top: 100%;" data-3800="top: 0%" data-4400="top:-100%;">
        <div class="container">
            <div class="row text-center">
                <div class="col-6 col-sm-4 col-lg-2">
                    <div class="well" data-600-top="opacity:0; transform[swing]: scale(1.5) translate(-50px, 0);" data-500-top="opacity:1; transform: scale(1) translate(0, 0);">
                        <i class="icon-bar-chart icon-super"></i>
                        <h6><small><em>meer</em></small><br> leads</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2">
                    <div class="well" data-550-top="opacity:0; transform[swing]: scale(1.5) translate(-50px, 0);" data-450-top="opacity:1; transform: scale(1) translate(0, 0);">
                        <i class="icon-shopping-cart icon-super"></i>
                        <h6><small><em>meer</em></small><br> verkopen</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2">
                    <div class="well" data-500-top="opacity:0; transform[swing]: scale(1.5) translate(-50px, 0);" data-400-top="opacity:1; transform: scale(1) translate(0, 0);">
                        <i class="icon-facebook icon-super"></i>
                        <h6><small><em>meer</em></small><br> volgers</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2">
                  <div class="well"  data-460-top="opacity:0; transform[swing]: scale(1.5) translate(-50px, 0);" data-360-top="opacity:1; transform: scale(1) translate(0, 0);">
                        <i class="icon-bar-chart icon-super"></i>
                        <h6><small><em>meer</em></small><br> bekijks</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2">
                    <div class="well"  data-420-top="opacity:0; transform[swing]: scale(1.5) translate(-50px, 0);" data-320-top="opacity:1; transform: scale(1) translate(0, 0);">
                        <i class="icon-bar-chart icon-super"></i>
                        <h6><small><em>meer</em></small><br> downloads</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2">
                   <div class="well"  data-400-top="opacity:0; transform[swing]: scale(1.5) translate(-50px, 0);" data-300-top="opacity:1; transform: scale(1) translate(0, 0);">
                        <i class="icon-bar-chart icon-super"></i>
                        <h6><small><em>meer</em></small><br> signups</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>-->